<div>
  <div
    class="d-flex fw-light flex-column justify-content-center align-items-center mb-4"
  >
    <h1><i class="fa-regular fa-compass"></i> Discover</h1>
    <p>step into new zone, join a nw conversation</p>
    <input
      type="text"
      class="form-control w-50 transparent-input"
      placeholder="Search properties..."
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />
  </div>
  <div style="margin-left: 10%">
    <h5>Reader choice</h5>
  </div>

  <div
    class="container d-flex flex-row align-items-center justify-content-center gap-3"
  >
    <div
      *ngFor="let blog of paginatedBlogsList"
      class="card"
      style="width: 15rem"
    >
      <img
        class="card-img-top"
        [src]="blog.image"
        style="width: 100%; height: 10rem; object-fit: cover"
        alt="Card image cap"
      />
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ blog.title }}</h5>

        <p class="fs-6 fw-light">{{ blog.date }}</p>
        <div class="mt-auto">
          <a (click)="getDetails(blog.id)" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div style="margin-left: 10%">
      <h5>Rising authors</h5>
    </div>
    <div
      class="container d-flex flex-row align-items-center justify-content-center gap-3"
    >
      <div
        *ngFor="let author of filterAuthor"
        class="card"
        style="width: 15rem; height: 22rem"
      >
        <img
          class="card-img-top"
          [src]="author.image"
          style="width: 100%; height: 10rem; object-fit: cover"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ author.name }}</h5>
          <p class="card-text">{{ author.bio }}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
